{
  "KPIID": "1",
  "KPINAME":"VOICE_REVENUE_REPORT",
  "KPI_DESC":"",
  "KPI_TYPE":"GRID",
  "MEASURE":["sum(count)","sum(duration)","sum(revenue)"],
  "DIMENSION":["Operator","month","report_type"],
  "FILTERS":[{
      "ID":"OPERATOR",
      "FILTERTYPE" : "COMBO",
      "FILTERDATA": "AIRTEL,SIERRATEL,ORANGE,MTN",
      "QUERY":"",
      "CONNECTION": "ddddddddddddddddddddddddddddddddddddddddddddddddddd"
      },
      {
      "ID":"REPORTTYPE",
      "FILTERTYPE" : "COMBO",
      "FILTERDATA": "NATIONAL_OUTGOING,INTERNATIONAL_INCOMING,OFF_NET,ON_NET",
      "QUERY": "",
      "CONNECTION": ""
      }],
  "SUMMARYDATA": {
    "QUERY": "select false as checkbox,operator,to_char(r_date,'yyyyMM') YEARMONTH,sum(count),sum(dur_vol),sum(revenue),report_type from public.fct_revenue_report group by operator,to_char(r_date,'yyyyMM'),report_type",
    "CONNECTION": "datasource1",
    "GROUP": false
  },
  "CHART":{
      "FILTER":["OPERATOR","REPORTTYPE"],
      "TYPE":"line"
    },
  "DETAIL_DATA":[{
          "TITLE":"DETAIL REPORT",
          "QUERY": "select emp_name from emp_profile",
          "CONNECTION": "datasource1"
        },
        {
          "TITLE":"DETAIL REPORT",
          "QUERY": "select role from login",
          "CONNECTION": "datasource2"
          },
        {
          "TITLE":"DETAIL REPORT",
          "QUERY": "select product_name from product",
          "CONNECTION": "datasource3"
    }]
}